<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Apples & Oranges</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.0/css/iziModal.css">
		<link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan|Oswald" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">

	</head>
	<body>
		{{{ body }}}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/izimodal/1.5.0/js/iziModal.min.js"></script>
	{{!-- Commented out for now, but we can update this to the front-end script --}}
	<script type="text/javascript" src="/assets/js/site.js"></script>
	</body>
</html>
