<nav class="debateNav">
	<div class="nav-wrapper">
		<!-- <h3 class="topic">Topic is:</h3> -->
		<a href="/"><p class="debateTopic center"><span class="applesLogo">Apples</span> & <span class="orangesLogo">Oranges</span></p></a>
		<a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li class="grow"><a href="/">Home</a></li>
			<li class="grow"><a href="" class="createDebateNav">Create a Debate</a></li>
			<li class="grow"><a href="/archive">Archive</a></li>
		</ul>

		<ul class="side-nav" id="mobile-demo">
			<li class="grow"><a href="/">Home</a></li>
			<li class="grow"><a href="" class="createDebateNav">Create a Debate</a></li>
			<li class="grow"><a href="/archive">Archive</a></li>
		</ul>
	</div>
</nav>

<div class="taglineDiv">
	<img src="/assets/images/appor.png">
	<h3>The place to settle your differences.</h3> 
	<h3>Once and for all.</h3>
</div>


<hr>

<h2>Ongoing Debates</h2>

{{#each debates}}
	{{#unless this.archived}}
		<div class="indexDebate grow">
			<a href="/db8/{{this.id}}">
				<h4>{{this.debate_topic}}</h4>
				<h5 id="totalVotes{{this.id}}">Total Votes: {{this.totalVotes}}<h5>
			</a>
		</div>
	{{/unless}}
{{/each}}

<br>
<br>

<hr>

<div class="createDebateDiv center">
	<button type="submit" class="createDebate grow">Create A Debate</button>
</div>



<div id="modal" class="modal">
	<h2 class="createH2">Create a Debate</h1>
	<form action="/api/debates" method="POST" class="centerObj">
			<input type="text" name="topic" class="validate" required="required" placeholder="Ex. What is Better: Chinese Food vs Pizza"><br>
			<input type="text" name="sideA" class="validate" required="required" placeholder="Ex. Chinese Food"><br>
			<input type="text" name="sideB" class="validate" required="required" placeholder="Ex. Pizza"><br>
			<label>Max Number of Votes</label>
			<p class="range-field">
				<input type="range" name="maxVotes" id="test5" min="11" max="101" step="10" />
			</p>
			<input type="submit" name="submit" class="debateSubmit">
	</form>
</div>