<nav class="debateNav">
	<div class="nav-wrapper">
		<!-- <h3 class="topic">Topic is:</h3> -->
		<p class="debateTopic center"><span class="applesLogo">Apples</span> & <span class="orangesLogo">Oranges</span></p>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="/">Home</a></li>
			<li><a href="" class="createDebateNav">Create a Debate</a></li>
		</ul>
	</div>
</nav>

<div class="taglineDiv">
	<h3>The place to settle your differences.</h3> 
	<h3>Once and for all.</h3>
</div>


<hr>

<h2>Ongoing Debates</h2>

{{#each debates}}
	<div class="indexDebate grow">
		<a href="/db8/{{this.id}}"><h4>{{this.debate_topic}}</h4></a>
	</div>
		
{{/each}}

<br>
<br>

<hr>

<div class="createDebateDiv center">
	<button type="submit" class="createDebate grow">Create A Debate</button>
</div>



<div id="modal" class="modal">
	<h2 class="createH2">Create a Debate</h1>
	<form action="/api/debates" method="POST" class="centerObj">
			<input type="text" name="topic" placeholder="Ex. What is Better: Chinese Food vs Pizza"><br>
			<input type="text" name="sideA" placeholder="Ex. Chinese Food"><br>
			<input type="text" name="sideB" placeholder="Ex. Pizza"><br>
			<label>Max Number of Votes</label>
			<p class="range-field">
				<input type="range" name="maxVotes" id="test5" min="11" max="101" step="10" />
			</p>
			<input type="submit" name="submit">
	</form>
</div>