* {
	margin: 0;
	padding: 0;
	box-sizing:
	border-box;
}

a {
	color: #F44336;
}

.applesLogo {
	font-family: 'Baloo Bhaijaan', cursive;
	font-size: 35px;
	color: #F44336;
}

.arenaVote {
	width: 300px;
	font-size: 35px;
	padding: 20px 0;
}

body {
	background: url("../images/zzw1.png");
	font: 13px Helvetica, Arial;
}

.brand-logo {
	margin-left: 20px;
}

.centerObj {
	padding: 10px 0px 40px;
	margin: auto;
	width: 80%;
}

#chatButton {
	border-radius: 25px;
	background-color: #ec4d38;
	height: 40px;
	width: 100px;
	font-family: 'Oswald', sans-serif;
	font-size: 21px;
	padding: 0;
}

.chatDiv {
	margin-top: 30px;
}

.chatInput {
	width: 100%;
}

.chatMessage {
	background: orange;
	padding: 10px;
	border-radius: 20px;
	margin: 10px;
}

.chatMessage:nth-child(odd){
	background: #ec4d38;
}

.createDebate {
	background: white;
	border: none;
	padding: 10px;
	border-radius: 9px;
	color: #f44336;
	font-size: 25px;
	font-family: 'Oswald', sans-serif;
	box-shadow: 3px 3px 7px black;
	margin-top: 25px;
	margin-bottom: 25px;
}

.createH2 {
	background: #373737;
	padding: 8px 0 14px;
}


.debateNav{
	background-color: black;
	padding: 0 40px;
}

.debateTopic {
	font-size: 24px;
    display: inline;
}

.debateSubmit {
	background: #373737;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: 0;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.47);
}


#debateChat {
	display: flex;
	flex-direction: row;
}


form {
	padding: 3px;
}

form button {
	width: 60px;
	background: rgb(130, 224, 255);
	border: none;
	margin-left: 10px;
	padding: 10px;
	margin: 5px;
}

.grow {
	transition: all .15s ease-in-out;
}
.grow:hover {
	transform: scale(1.05);
}


h1, h2, h3 {
	color: white;
}

h1, h2, h3, h4 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

h3 {
	font-size: 25px;
}

h4 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

h5 {
	font-size: 18px;
    text-align: center;
}

hr {
	width: 50%;
	margin: auto;
}

@keyframes float {
	0% {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		transform: translatey(0px);
	}
	50% {
		/*box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);*/
		transform: translatey(-10px);
	}
	100% {
		/*box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);*/
		transform: translatey(0px);
	}
}

img {
	width: 750px;
	animation: float 6s ease-in-out infinite;
}

.indexDebate {
	background: white;
	width: 700px;
	border-radius: 25px;
	padding: 5px;
	margin: 10px auto;
	box-shadow: 3px 3px 7px black;
}

input:not([type]) {
	background-color: white;
}

input[type=range]+.thumb {
	background-color: #F44336;
}

input[type=range]+.thumb .value {
	color: #F44336;
}

input[type=range]::-webkit-slider-thumb {
	background-color: #F44336;
}
input[type=range]::-moz-range-thumb {
	background-color: #F44336;
}
input[type=range]::-ms-thumb {
	background-color: #F44336;
}

.input-field input[type=text]:focus {
	border-bottom: 1px solid orange;
	box-shadow: 0 1px 0 0 #000;
}


li {
	text-align: center;
}

#m {
	height: 30px;
	border-radius: 15px;
	margin-top: 10px;
	padding: 0 15px;
}

#messageDiv {
	background-color: white;
	height: 450px;
	margin: auto 0;
	border-radius: 20px;
	padding: 10px;
	box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
	overflow: auto;
}

#messages {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages li {
	padding: 5px 10px;
	margin: 10px;
	background: yellow;
	border-radius: 10px;
}

#messages li:nth-child(odd) {
	background: green;
	border-radius: 10px;
}

nav ul a {
	font-family: 'Oswald', sans-serif;
	font-size: 22px;
}

.orangesLogo {
	font-family: 'Oswald', sans-serif;
	color: orange;
	font-size: 30px;
}

p {
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
}

.progress {
	border-radius: 25px;
	height: 35px;
	box-shadow: 2px 3px 7px rgba(0, 0, 0, 0.3);
	background-color: #ec4d38;
}

.progress .determinate {
	background-color: #ffa500;
}

.rightBtnForm {
	text-align: right;
	width: 100%;
}

.userSquare {
	border: 1px solid black;
	width: 250px;
	height: 250px;
	display: inline-block;
}

.sideAText {
	float: left;
	color: orange;
}

.sideBText {
	float: right;
	color: #ec4d38;
}

.sideAVote {
	color: black;
	background: orange;
	border: 0;
	border-radius: 24px;
	box-shadow: 1px -1px 9px black;
	font-family: 'Oswald', sans-serif;
}

.sideAVote:active, .sideAVote:focus{
	background: #bd7b00;
}

.sideBVote {
	color: black;
	background: #ec4d38;
	border: 0;
	border-radius: 24px;
	box-shadow: 1px -1px 9px black;
	font-family: 'Oswald', sans-serif;
}

.sideBVote:active, .sideBVote:focus{
	background: #c83420;
}

.taglineDiv {
	padding: 30px;
    text-align: center;
}

.voteSpace {
	display: none;
}

@media screen and (max-width: 992px){
	.arenaVote {
		float: none;
	}

	.rightBtnForm {
		text-align: center;
	}
}

@media screen and (max-width: 850px){
	img {
		width: 95%;
	}
}

@media screen and (max-width: 750px){
	.indexDebate {
		width: 95%;
	}
}

@media screen and (max-width: 374px){
	.arenaVote {
    	width: 250px;
    }

	.debateNav {
		padding: 0 10px;
	}
}